#spin {
	width : 604px;
}
#query {
	width : 200px;
	height : 17px;
}
#query:valid {
	border : 1px solid green;
}
#query:invalid {
	border : 1px solid black;
}
.mainButton {
	width : 300px;
	text-align : center;
	height : 20px;
	margin-top : 3px;
}
#left {
	margin-right : 0px;
}
#right {
	margin-left : 0px;
}
#queryAndButton {
	margin-left : auto;
	margin-right : 0px;
	max-width : 270px;
}
#search {
	margin-top : 0px;
	width : 64px;
}
#content img {
	width : 185px;
	height : 260px;
	float : left;
}
#title {
	text-align : center;
}
#info tr:nth-child(even) {
	background-color : #bbb;
}
#info tr:nth-child(odd) {
	background-color : #fff;
}
#info td {
	width : 120px;
	height : 20px;
}
#description>div {
	text-align : center;
}
#description {
	clear : both;
}