<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/show.css">
    <link rel="stylesheet" href="css/buttons.css">
    <title>Contacts</title>
</head>
<body>
    <section class="app">
        <header id="header">

        </header>
        <section id="main">

        </section>
    </section>
    <script type="text/template" id="show-templ">
        <div id="sheet"></div>
        <div id="showCont">
            <table cellspacing="8px">
                <tr><td>Name:</td><td><label class="nameFull"><%- name %></label></td></tr>
                <tr><td>Surname:</td><td><label class="surnameFull"><%- surname %></label></td></tr>
                <tr><td>E-mail:</td><td><label class="emailFull"><%- email %></label></td></tr>
                <tr><td>Number:</td><td><label class="numberFull"><%- number %></label></td></tr>
            </table>
            <button class="button" onclick="location.href = '#'">Close</button>
        </div>
    </script>
    <script type="text/template" id="edit-templ">
        <div id="sheet"></div>
        <div id="editCont">
            <table cellspacing="8px">
                <tr><td>Name:</td><td><input type="text" id="nameEdit"></input></td></tr>
                <tr><td>Surname:</td><td><input type="text" id="surnameEdit"></input></td></tr>
                <tr><td>E-mail:</td><td><input type="text" id="emailEdit"></input></td></tr>
                <tr><td>Number:</td><td><input type="text" id="numberEdit"></input></td></tr>
            </table>
            <button class="save button">Save</button>
            <button class="close button">Close</button>
        </div>
    </script>
    <script type="text/template" id="item-templ">
        <div class="item">
            <label class="name"><%- name %></label>
            <label class="surname"><%- surname %></label>
            <div class="buttons">
                <button class="show button" onclick="location.href = '#contacts/<%= order %>'">Show</button>
                <button class="edit button" onclick="location.href = '#contacts/<%= order %>/edit'">Edit</button>
                <button class="delete button">Delete</button>
            <div>
        </div>
    </script>
    <script type="text/template" id="header-templ">
        <div class="first">
            <label><%- first %></label>
        </div>
        <div class="second">
            <label><%- second %></label>
        </div>
        <div class="switch">
            <button class="add button" onclick="location.href = '#contacts/add'"><%- buttoncapt %></button>
        </div>
    </script>
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/localStorageBB.js"></script>
    <script src="models/contact.js"></script>
    <script src="collections/contacts.js"></script>
    <script src="views/itemView.js"></script>
    <script src="views/mainView.js"></script>
    <script src="views/showView.js"></script>
    <script src="views/editView.js"></script>
    <script src="routers/router.js"></script>
</body>
</html>
